.container{
    background: orange;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header header' 
                         'menu content content' 
                         'footer footer footer';
}

.header{
    background: red;
    height: 60px;
    grid-area: header;
}

.menu{
    background: green;
    grid-area: menu;
}

.content{
    background-color: aqua;
    grid-area: content;
}

.footer{
    background-color: palevioletred;
    grid-area: footer;
}

