.container{
    background: orange;
    max-width: 800px;
    margin: 0 auto;
}

.header{
    background: red;
    height: 60px;
}

.wrapper{
    background: blue;
    /*flex-direction: row-reverse*/;
    display: flex;
}

.menu{
    background: green;
    width: 30%;
}

.content{
    background-color: aqua;
    width: 70%;
}

.footer{
    background-color: palevioletred;
}

